<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post" action="login">
      <div>
          <label for="email" >email</label>
          <input type="text" placeholder="email" name="email" id="email">
      </div>
      <div>
      <label  for="password">Password</label>
      <input type="password" name="password" id="password"placeholder="password">

        </div>
    <input type="submit">
  </form>
</body>
</html>